{% extends "base.html" %}

{% block content %}
  <h1>Let's play the game</h1>

  <p>Once you add two players, then you need to type "/game" into the url.</p>

  <p>To see the result</p>

  <div class="container">
    <form action="/" method="post">
      <label for="name1">Player1 name</label>
      <input type="text" name="name" class="input">

      <label for="choice">Player1 Choice</label>
      <input type="text" name="choice" class="input">

      <input type="submit" value="Add Player!" id="button">
    </form>
  </div>
  {% for game in games %}
  <div>
    <p>
      {{ game.choice }}, {{ game.name }}
    </p>
  </div>
  {% endfor %}
{% endblock %}